@use "sass:map";

$namespace: "el" !default;
@forward "element-plus/theme-chalk/src/mixins/config.scss" with (
    $namespace: #{$namespace}
);

@forward "element-plus/theme-chalk/src/common/var.scss" with (
    $common-component-size: (
        "large": 36px,
        "default": 32px,
        "small": 28px
    ),
    $input: (
        "hover-border-color": var(--sdesign-color-border-active-brand),
        "focus-border-color": var(--sdesign-color-border-active-brand)
    ),
    $text-color: (
        "primary": var(--sdesign-color-neutral-11),
        "regular": var(--sdesign-color-neutral-11),
        "secondary": var(--sdesign-color-grey-6),
        "placeholder": var(--sdesign-color-grey-4)
    ),
    $border-color: (
        "base": var(--sdesign-color-border-default),
        "light": var(--sdesign-color-border-hover),
        "lighter": var(--sdesign-color-border-default),
        "extra-light": var(--sdesign-color-border-default)
    ),
    $border-radius: (
        "base": var(--sdesign-radius-medium),
        "small": var(--sdesign-radius-small),
        "round": var(--sdesign-radius-extra-large),
        "circle": var(--sdesign-radius-full)
    ),
    $box-shadow: (
        "base": var(--sdesign-shadow-2),
        "light": var(--sdesign-shadow-3)
    ),
    $font-size: (
        "extra-large": var(--sdesign-font-size-extra-large),
        "large": var(--sdesign-font-size-large),
        "medium": var(--sdesign-font-size-medium),
        "base": var(--sdesign-font-size-regular),
        "small": var(--sdesign-font-size-small),
        "extra-small": var(--sdesign-font-size-extra-small)
    ),
    $disabled: (
        "bg-color": var(--sdesign-color-disable-fill),
        "text-color": var(--sdesign-color-disable-font),
        "border-color": var(--sdesign-color-disable-border)
    ),
    $tag: (
        "font-size": var(--sdesign-font-size-extra-small),
        "border-radius": var(--sdesign-radius-medium)
    ),
    $tag-height: (
        "large": 28px,
        "default": 22px,
        "small": 18px
    ),
    $radio: (
        "input-border": 2px var(--#{$namespace}-border-style) var(--sdesign-color-border-hover)
    ),
    $radio-checked: (
        "text-color": var(--sdesign-color-grey-11)
    ),
    $radio-disabled: (
        "input-border-color": var(--sdesign-color-disable-border),
        "checked-input-border-color": var(--sdesign-color-brand-3),
        "checked-icon-color": transparent
    ),
    $radio-height: (
        "large": 36px,
        "default": 22px,
        "small": 20px
    ),
    $checkbox: (
        "text-color": var(--sdesign-color-grey-11),
        "input-border": 2px solid var(--sdesign-color-border-hover),
        "checked-text-color": var(--sdesign-color-grey-11),
        "checked-icon-color": var(--sdesign-color-white),
        "input-border-color-hover": var(--sdesign-color-brand-3),
        "disabled-border-color": var(--sdesign-color-disable-border),
        "disabled-input-fill": var(--sdesign-color-bg-3),
        "disabled-checked-input-fill": var(---sdesign-color-brand-2),
        "disabled-checked-input-border-color": transparent,
        "disabled-checked-icon-color": var(--sdesign-color-white),
        "border-radius": var(--sdesign-radius-medium)
    ),
    $select: (
        "input-focus-border-color": var(--sdesign-color-border-active-brand),
        "border-color-hover": var(--sdesign-color-border-hover),
        "multiple-input-color": var(--sdesign-color-grey-11),
        "close-hover-color": var(--sdesign-color-border-wrong)
    ),
    $select-option: (
        "height": 36px,
        "hover-background": var(--sdesign-color-brand-1),
        "disabled-color": var(--sdesign-color-grey-4)
    ),
    $select-dropdown: (
        "border": 1px solid var(--sdesign-color-border-default),
        "padding": 0
    ),
    $select-group: (
        "height": 32px
    ),
    $cascader: (
        "node-background-hover": var(--sdesign-color-brand-1),
        "menu-border": solid 1px #e2e2e2
    ),
    $datepicker: (
        "icon-color": var(--sdesign-color-grey-6),
        "inrange-bg-color": var(--sdesign-color-brand-1),
        "inner-border-color": rgba(224, 224, 224, 0.6)
    ),
    $switch: (
        "on-color": var(--sdesign-color-brand-6),
        "off-color": var(--sdesign-color-grey-4),
        "width": 36px,
        "height": 20px,
        "button-size": 12px
    ),
    $input-number-width: (
        "large": 180px,
        "default": 164px,
        "small": 120px
    ),
    $transfer: (
        "border-radius": var(--sdesign-radius-medium),
        "panel-header-height": 40px,
        "panel-footer-height": 40px,
        "panel-body-height": 332px,
        "item-height": 32px,
        "filter-height": 30px,
        "panel-header-bg-color": var(--sdesign-color-white)
    ),
    $menu: (
        "active-color": var(--sdesign-color-white),
        "text-color": var(--sdesign-color-grey-9),
        "hover-text-color": var(--sdesign-color-brand-6),
        "item-height": 56px,
        "base-level-padding": var(--sdesign-spacing-medium),
        "level-padding": var(--sdesign-spacing-extra-large),
        "icon-width": 16px
    ),
    $card: (
        "border-radius": var(--sdesign-radius-large),
        "border-color": var(--sdesign-color-grey-3),
        "padding": var(--sdesign-spacing-huge)
    ),
    $alert: (
        "padding": 8px 16px,
        "title-font-size": var(--sdesign-font-size-medium),
        "description-font-size": var(--sdesign-font-size-regular),
        "close-font-size": var(--sdesign-font-size-medium),
        "border-radius-base": var(--sdesign-radius-large)
    ),
    $notification: (
        "padding": 24px 32px 24px 11px,
        "group-margin-left": 4px
    ),
    $message: (
        "bg-color": var(--sdesign-color-white),
        "border-color": var(--sdesign-color-border-none),
        "padding": 8px 16px,
        "close-size": var(--sdesign-font-size-medium),
        "close-icon-color": var(--sdesign-font-color-4),
        "close-hover-color": var(--sdesign-color-grey-11)
    ),
    $tabs: (
        "header-height": 48px
    ),
    $backtop: (
        "bg-color": var(--sdesign-color-white),
        "text-color": var(--sdesign-color-grey-11),
        "hover-bg-color": var(--sdesign-color-white)
    ),
    $dropdown: (
        "menuItem-hover-fill": var(--sdesign-color-brand-1),
        "menuItem-hover-color": var(--sdesign-color-brand-5)
    ),
    $loading: (
        "spinner-size": 30px,
        "fullscreen-spinner-size": 48px
    ),
    $dialog: (
        "margin-top": 15vh,
        "title-font-size": var(--sdesign-font-size-medium),
        "font-line-height": var(--sdesign-font-line-height-medium),
        "padding-primary": var(--sdesign-spacing-regular),
        "border-radius": var(--sdesign-radius-large)
    ),
    $timeline: (
        "node-size-normal": 8px,
        "node-size-large": 20px,
        "node-color": var(--sdesign-color-grey-5)
    ),
    $rate: (
        "height": 20px,
        "icon-size": 22px,
        "icon-margin": 10px,
        "void-color": #e2e2e2,
        "fill-color": #f5a623
    ),
    $slider: (
        "runway-bg-color": #f1f1f1,
        "border-radius": var(--sdesign-radius-small),
        "height": 4px,
        "button-size": 16px,
        "button-wrapper-offset": -16px,
        "stop-bg-color": transparent,
        "disabled-color": var(--sdesign-color-brand-2)
    ),
    $table: (
        "header-bg-color": var(--sdesign-color-bg-4),
        "tr-bg-color": var(--sdesign-color-fill-6),
        "row-hover-bg-color": var(--sdesign-color-bg-4)
    ),
    $table-padding: (
        "large": 16px 0,
        "default": 12px 0,
        "small": 8px 0,
        "mini": 4px 0
    ),
    $popper: (
        "border-radius": var(--sdesign-radius-large)
    ),
    $pagination: (
        "item-gap": var(--sdesign-spacing-regular)
    ),
    $badge: (
        "padding": var(--sdesign-spacing-basic),
        "size": 18px
    ),
    $anchor: (
        "padding-indent": var(--sdesign-spacing-large),
        "color": var(--sdesign-color-grey-9),
        "font-size": var(--sdesign-font-size-regular)
    )
);

@forward "element-plus/theme-chalk/src/checkbox.scss" with (
    $checkbox-height: (
        "large": 36px,
        "default": 32px,
        "small": 28px
    )
);

@forward "element-plus/theme-chalk/src/form.scss" with (
    $form-item-line-height: (
        "large": 36px,
        "default": 32px,
        "small": 28px
    )
);
@use "element-plus/theme-chalk/src/index.scss" as *;

:root {
    --#{$namespace}-font-weight-primary: var(--sdesign-font-weight-regular);
    --#{$namespace}-font-line-height-primary: 24px;
    --#{$namespace}-text-color-disabled-base: var(--sdesign-color-disable-font);
    --#{$namespace}-popover-border-radius: var(--sdesign-radius-large);

    // Fill
    --#{$namespace}-fill-base: var(--sdesign-color-white);

    // Color
    --#{$namespace}-color-primary: var(--sdesign-color-brand-6);
    --#{$namespace}-color-primary-light-3: var(--sdesign-color-brand-5);
    --#{$namespace}-color-primary-light-5: var(--sdesign-color-brand-4);
    --#{$namespace}-color-primary-light-7: var(--sdesign-color-brand-3);
    --#{$namespace}-color-primary-light-8: var(--sdesign-color-brand-2);
    --#{$namespace}-color-primary-light-9: var(--sdesign-color-brand-1);
    --#{$namespace}-color-primary-dark-2: var(--sdesign-color-brand-8);

    --#{$namespace}-color-success: var(--sdesign-color-green-6);
    --#{$namespace}-color-success-light-3: var(--sdesign-color-green-5);
    --#{$namespace}-color-success-light-5: var(--sdesign-color-green-4);
    --#{$namespace}-color-success-light-7: var(--sdesign-color-green-3);
    --#{$namespace}-color-success-light-8: var(--sdesign-color-green-2);
    --#{$namespace}-color-success-light-9: var(--sdesign-color-green-1);
    --#{$namespace}-color-success-dark-2: var(--sdesign-color-green-8);

    --#{$namespace}-color-info: var(--sdesign-color-grey-6);
    --#{$namespace}-color-info-light-3: var(--sdesign-color-grey-5);
    --#{$namespace}-color-info-light-5: var(--sdesign-color-grey-4);
    --#{$namespace}-color-info-light-7: var(--sdesign-color-grey-3);
    --#{$namespace}-color-info-light-8: var(--sdesign-color-grey-2);
    --#{$namespace}-color-info-light-9: var(--sdesign-color-grey-1);
    --#{$namespace}-color-info-dark-2: var(--sdesign-color-grey-8);

    --#{$namespace}-color-warning: var(--sdesign-color-orange-6);
    --#{$namespace}-color-warning-light-3: var(--sdesign-color-orange-5);
    --#{$namespace}-color-warning-light-5: var(--sdesign-color-orange-4);
    --#{$namespace}-color-warning-light-7: var(--sdesign-color-orange-3);
    --#{$namespace}-color-warning-light-8: var(--sdesign-color-orange-2);
    --#{$namespace}-color-warning-light-9: var(--sdesign-color-orange-1);
    --#{$namespace}-color-warning-dark-2: var(--sdesign-color-orange-8);

    --#{$namespace}-color-danger: var(--sdesign-color-red-6);
    --#{$namespace}-color-danger-light-3: var(--sdesign-color-red-5);
    --#{$namespace}-color-danger-light-5: var(--sdesign-color-red-4);
    --#{$namespace}-color-danger-light-7: var(--sdesign-color-red-3);
    --#{$namespace}-color-danger-light-8: var(--sdesign-color-red-2);
    --#{$namespace}-color-danger-light-9: var(--sdesign-color-red-1);
    --#{$namespace}-color-danger-dark-2: var(--sdesign-color-red-8);

    --#{$namespace}-color-error: var(--sdesign-color-red-6);
    --#{$namespace}-color-error-light-3: var(--sdesign-color-red-5);
    --#{$namespace}-color-error-light-5: var(--sdesign-color-red-4);
    --#{$namespace}-color-error-light-7: var(--sdesign-color-red-3);
    --#{$namespace}-color-error-light-8: var(--sdesign-color-red-2);
    --#{$namespace}-color-error-light-9: var(--sdesign-color-red-1);
    --#{$namespace}-color-error-dark-2: var(--sdesign-color-red-8);
}
