.el-menu{
  --menu-height: 40px;
  --menu-active-color: #409eff;
  --menu-item-border-radius: 4px;
  border-right: none;
}
.el-menu-item{
  height: var(--menu-height);
  margin: 4px;
}
.el-menu-item:hover{
  border-radius: var(--menu-item-border-radius);
}
.el-menu-item.is-active{
  background-color: var(--menu-active-color);
  border-radius: var(--menu-item-border-radius);
}
.el-menu-item.is-active *{
  color: #fff
}
