/**
 * SDesign Theme
 * Build Version 1.2.0
 */

/* Blue Brand Color */
$sdesign-color-brand-1: #ebf1ff;
$sdesign-color-brand-2: #d6e2ff;
$sdesign-color-brand-3: #adc3ff;
$sdesign-color-brand-4: #85a1ff;
$sdesign-color-brand-5: #5c7cff;
$sdesign-color-brand-6: #3355ff;
$sdesign-color-brand-7: #2b42d9;
$sdesign-color-brand-8: #2432b3;
$sdesign-color-brand-9: #1c248c;
$sdesign-color-brand-10: #141766;