/* 菜单高度规范 */
.SidebarMenu {
  .el-menu{
    --menu-active-color: #409eff;
    --menu-item-border-radius: 4px;
    --menu-item-hover-margin: 4px;
    --el-menu-item-height: 40px;
    --el-menu-sub-item-height: 40px;
    --el-menu-base-level-padding: 12px;
    --el-menu-icon-width: 16px;
    border-right: none;
  }
  .el-menu--collapse{
    width: calc(var(--el-menu-icon-width) + var(--el-menu-base-level-padding)* 2 + var(--menu-item-hover-margin)*2) ;
  }
  .el-menu-item{
    margin: var(--menu-item-hover-margin);
    border-radius: var(--menu-item-border-radius);
  }
  .el-sub-menu__title{
    margin: var(--menu-item-hover-margin);
    border-radius: var(--menu-item-border-radius);
  }
  .el-menu-item.is-active *{
    color: #fff
  }
  /* 
    激活状态hover调整
  */
  .el-menu-item.is-active{
    background-color: #409eff;
  }
}

.header-menu {
  .el-menu--horizontal.el-menu{
    --menu-active-color: #409eff;
    --menu-item-border-radius: 4px;
    --menu-item-hover-margin: 4px;
    --el-menu-item-height: 40px;
    --el-menu-sub-item-height: 40px;
    --el-menu-base-level-padding: 12px;
    --el-menu-icon-width: 16px;
    border-bottom: none;
    &>.el-menu-item{
      margin: var(--menu-item-hover-margin);
      border-radius: var(--menu-item-border-radius);
      height: var(--el-menu-item-height);
      line-height: var(--el-menu-item-height)
    }
    .el-sub-menu__title{
      margin: var(--menu-item-hover-margin);
      border-radius: var(--menu-item-border-radius);
      height: var(--el-menu-item-height);
      line-height: var(--el-menu-item-height)
    }
   
    /* 
      激活状态hover调整
    */
    &>.el-menu-item.is-active{
      background-color: #409eff;
    }
    &>.el-menu-item.is-active *{
      color: #fff
    }
  }
  
  
}


